.input {
  border: none;
  border-radius: var(--border-radius-s);
  box-shadow: 0 0 0 1px var(--secondary-accent-color) inset;
  color: var(--primary-font-color);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
  line-height: var(--font-line-height-body);
  padding: 0.5rem 0.75rem;
  width: 100%;
  font: var(--font-family);

  &:focus-visible {
    outline: none;
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--focus-color) inset;
  }

  &:disabled {
    cursor: default;
    opacity: 0.4;
  }
}

.input.inputInError {
  box-shadow: 0 0 0 1px var(--error-accent-color) inset;
  color: var(--error-font-color);

  &:focus {
    box-shadow: 0 0 0 2px var(--focus-color) inset;
  }
}

.label {
  color: black;
  font-size: var(--font-size-label);
  font-weight: var(--font-weight-label);
  line-height: var(--font-line-height-label);
}

.errorMessage {
  color: var(--error-font-color);
  font-size: var(--font-size-body);
  line-height: var(--font-line-height-body);
}
